/-Sign up page

= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h2= t('.title')


= form_for(resource, as: resource_name, url: registration_path(resource_name), :html => { :id => "signup_form", :class => 'signup_form'}) do |f|
  = render "devise/shared/error_messages", resource: resource
  .field
    = f.label t('.email')
    %br/
    = f.email_field :email, autofocus: true, autocomplete: "email", size: 39,  class: 'name formEntry'
  .field
    = f.label t('.password')
    - if @minimum_password_length
      %em
        (#{@minimum_password_length} characters minimum)
    %br/
    = f.password_field :password, autocomplete: "new-password", size: 39,  class: 'name formEntry'
  .field
    = f.label t('.password_confirmation')
    %br/
    = f.password_field :password_confirmation, autocomplete: "new-password", size: 39,  class: 'name formEntry'
  .actions
    = f.submit t('.button'), class: 'btn'
    = render "devise/shared/links"