= form_for @course_module, :html => { :id => "editModForm", :class => 'edit_module_form'} do |f|
  - if @course_module.errors.any?
    #error_explanation
      %h2= "#{pluralize(@course_module.errors.count, "error")} prohibited this course_module from being saved:"
      %ul
        - @course_module.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label t('.title')
    = f.text_field :Title, size: 39, class: 'name formEntry'
  .field
    = f.label t('.module_code')
    = f.text_field :ModuleCode, size: 39, class: 'name formEntry'
  .field
    = f.label t('.module_overview')
    = f.text_field :ModuleOverview, size: 39, class: 'message formEntry'
  .field
    = f.label t('.module_leader')
    = f.text_field :ModuleLeader, size: 39, class: 'name formEntry'
  .field
    = f.label t('.module_leader_idm')
    = f.number_field :ModuleLeaderID, size: 39, class: 'name formEntry'
  .field
    = f.label t('.credits')
    = f.number_field :Credits, size: 39, class: 'name formEntry'
  .field
    = f.label t('.year')
    = f.number_field :Year, size: 39, class: 'name formEntry'
  .actions
    = f.submit t('.save_button'), class: 'btn'
