= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h1= t('.title')

= render 'form'

= link_to t('.show_button'), @course_module, class: 'btn'
\|
= link_to t('.back_button'), course_modules_path, class: 'btn'
