= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h1= "Editing module"

= render 'form'

= link_to 'Show', @course_module, class: 'btn'
\|
= link_to 'Back', course_modules_path, class: 'btn'
