= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h1= 'All Modules'


%table
  %thead
    %tr
      %th= t('.title')
      %th= t('.module_code')
      %th= t('.module_overview')
      %th= t('.module_leader')
      %th= t('.credits')
      %th= t('.year')
      %th
      %th

  %tbody
    - @course_modules.each do |course_module|
      %tr
        %td= course_module.Title
        %td= course_module.ModuleCode
        %td= course_module.ModuleOverview
        %td= course_module.ModuleLeader
        %td= course_module.Credits
        %td= course_module.Year
        %td= link_to t('.show_button'), course_module
        %td= link_to t('.select_button'), new_selected_module_path(:module_id => course_module)

%br
