= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h1= t('.title')
  %p= t('.description')

%table
  %div{class: "yearCreditsDisplay" }
    %h2 Your details
    %h3= "Year: " + (@current_user.year).to_s
    %h3= "Credits: " + (@current_user.credits).to_s

  %thead
    %tr
      %th= t('.title')
      %th= t('.module_code')
      %th= t('.module_overview')
      %th= t('.module_leader')
      %th= t('.credits')
      %th= t('.year')
      %th
      %th
      %th

  %tbody
    - @course_modules.each do |course_module|
      %tr
        %td= course_module.Title
        %td= course_module.ModuleCode
        %td= course_module.ModuleOverview
        %td= course_module.ModuleLeader
        %td= course_module.Credits
        %td= course_module.Year
        %td= link_to t('.show_button'), course_module
        %td= link_to t('.destroy_button'), selected_module_path(course_module.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

