.jumbotron.text-center
  %h1= t('.title')
  %p= t('.description')

.ripple-background
  .circle.xxlarge.shade1
  .circle.xlarge.shade2
  .circle.large.shade3
  .circle.medium.shade4
  .circle.small.shade5


%table
  %thead
    %tr
      %th= t('.title')
      %th= t('.module_code')
      %th= t('.module_overview')
      %th= t('.module_leader')
      %th= t('.credits')
      %th= t('.year')
      %th
      %th
      %th

  %tbody
    - @course_modules.each do |course_module|
      %tr
        %td= course_module.Title
        %td= course_module.ModuleCode
        %td= course_module.ModuleOverview
        %td= course_module.ModuleLeader
        %td= course_module.Credits
        %td= course_module.Year
        %td= link_to t('.show_button'), course_module
        //%td= link_to 'Edit', edit_course_module_path(course_module)
        %td= link_to t('.destroy_button'), selected_module_path(course_module.id), method: :delete, data: { confirm: 'Are you sure?' }

%br

//= link_to 'Add a module', new_course_module_path, class: 'btn'
