= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h1= t('.title')
  %p= t('.description')

%p#notice= notice

.formWrapper
  %p
    %b= t('.title')
    = @course_module.Title
  %p
    %b= t('.module_code')
    = @course_module.ModuleCode
  %p
    %b= t('.module_overview')
    = @course_module.ModuleOverview
  %p
    %b= t('.module_leader')
    = @course_module.ModuleLeader
  %p
    %b= t('.credits')
    = @course_module.Credits
  %p
    %b= t('.year')
    = @course_module.Year

  = link_to t('.back_button'), course_modules_path, class:'btn'
