/-home page

= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h1= t('.title')
  %p= t('.welcome')

.homePageInstructions
  %p= t('.instruction1')
  %p= t('.instruction2')
  %p= t('.instruction3')
  %p= t('.instruction4')


