= render "shared/backgroundAnimation"

.jumbotron.text-center
  %h1= t('.title')
  %p= t('.welcome')

.homePageInstructions
  %p= "Click on 'Your modules' to view the modules that you have selected."
  %p= "Click on 'All modules' to view all available modules."
  %p= "If you need any support, send a message in the contact section."
  %p= "Please ensure that you select 8 modules in order to meet the 120 credits requirement."


