= form_for @selected_module do |f|
  - if @selected_module.errors.any?
    #error_explanation
      %h2= "#{pluralize(@selected_module.errors.count, "error")} prohibited this selected_module from being saved:"
      %ul
        - @selected_module.errors.full_messages.each do |message|
          %li= message

  .field
    = f.label :StudentID
    = f.number_field :StudentID
  .field
    = f.label :CourseModuleID
    = f.number_field :CourseModuleID
  .actions
    = f.submit 'Save'
