.formWrapper
  = form_for @selected_module do |f|
    - if @selected_module.errors.any?
      #error_explanation
        %h2= "#{pluralize(@selected_module.errors.count, "error")} prohibited this selected_module from being saved:"
        %ul
          - @selected_module.errors.full_messages.each do |message|
            %li= message


    .field
      = f.hidden_field :id
    .field
      = f.hidden_field :user_id
    .field
      = f.hidden_field :course_module_id
    .field
      %b= t('.title')
      = @selected_module.course_module.Title
    .field
      %b= t('.module_code')
      = @selected_module.course_module.ModuleCode
    .field
      %b= t('.module_overview')
      = @selected_module.course_module.ModuleOverview
    .field
      %b= t('.module_leader')
      = @selected_module.course_module.ModuleLeader
    .field
      %b= t('.module_credits')
      = @selected_module.course_module.Credits
    .field
      %b= t('.module_year')
      = @selected_module.course_module.Year
    .actions
      = f.submit t('.confirm'), class:'btn'
    = link_to t('.cancel'), my_modules_path, class:'btn'