%h1= t('.title')

%table
  %thead
    %tr
      %th= t('.id')
      %th= t('.id')
      %th= t('.course_module_id')
      %th
      %th
      %th

  %tbody
    - @selected_modules.each do |selected_module|
      %tr
        %td= selected_module.id
        %td= selected_module.user_id
        %td= selected_module.course_module_id
        %td= link_to t('.show'), selected_module
        %td= link_to  t('.edit'), edit_selected_module_path(selected_module)
        %td= link_to t('.destroy'), selected_module, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to t('.new_selected_module'), new_selected_module_path
