%p#notice= notice

%p
  %b Id:
  = @selected_module.id
%p
  %b Studentid:
  = @selected_module.studentID
%p
  %b Coursemoduleid:
  = @selected_module.courseModuleID

= link_to 'Edit', edit_selected_module_path(@selected_module)
\|
= link_to 'Back', selected_modules_path
