%h1 Listing module_leaders

%table
  %thead
    %tr
      %th Firstname
      %th Lastname
      %th Department
      %th Office
      %th Officehours
      %th
      %th
      %th

  %tbody
    - @module_leaders.each do |module_leader|
      %tr
        %td= module_leader.firstName
        %td= module_leader.lastName
        %td= module_leader.department
        %td= module_leader.office
        %td= module_leader.officeHours
        %td= link_to 'Show', module_leader
        %td= link_to 'Edit', edit_module_leader_path(module_leader)
        %td= link_to 'Destroy', module_leader, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Module leader', new_module_leader_path
